<template>
<el-tabs type="border-card" v-model="activeName" @tab-click="resetNoAppTestForm" style="min-height: 124px;max-height: fit-content;min-width: 405px;max-width: fit-content;margin-left: 33.3%;margin-top: 10px;">
  <el-tab-pane label="上传App应用" name="first">
    <el-upload
      ref="upload"
      class="upload-demo"
      action=""
      :show-file-list=false
      :http-request="fileUpload"
      :limit="1"
      :on-exceed="handleExceed"
      :on-change="clearUploadInfo">
      <el-button size="small" type="primary">点击上传</el-button>
      <div class="el-upload__tip" slot="tip">只能上传apk/ipa文件，且不超过2048M</div>
    </el-upload>
    <el-progress :percentage="uploadPercent" style="display: none;" id="uploadProgress"></el-progress>
    <div class="el-upload__tip" style="display: none;" id="uploadProgressText"></div>
  </el-tab-pane>
  <el-tab-pane label="Web/接口" name="second">
    <el-form :model="ruleForm" :rules="rules" ref="ruleForm" label-width="100px" class="demo-ruleForm" style="max-width: fit-content;min-width: 500px;" inline-message>
      <el-form-item label="应用名称" prop="appName">
        <span><font color=red style="margin-right: 5px;">*</font></span><el-input v-model="ruleForm.appName" style="width: 90%;"></el-input>
      </el-form-item>
      <el-form-item label="应用类别" prop="appType">
        <span><font color=red style="margin-right: 5px;">*</font></span><el-select v-model="ruleForm.appType" placeholder="请选择测试类别" style="width: 90%;">
          <el-option
            v-for="item in appTypeArray"
            :key="item.itemId"
            :label="item.itemName"
            :value="item.itemId">
            </el-option>
        </el-select>
      </el-form-item>
      <el-form-item label="应用描述" prop="appDesc">
        <el-input type="textarea" v-model="ruleForm.appDesc" style="width: 90%;margin-left: 12px;"></el-input>
      </el-form-item>
      <el-form-item label="测试入口" prop="startPath">
        <span><font color=red style="margin-right: 5px;">*</font></span><el-input v-model="ruleForm.startPath" placeholder="请输入测试入口地址" style="width: 90%;">
          <template slot="prepend">Http(Https)://</template>
        </el-input>
      </el-form-item>
      <el-form-item>
        <el-button type="primary" @click="submitFormData('ruleForm')">提交</el-button>
      </el-form-item>
    </el-form>
  </el-tab-pane>
</el-tabs>
</template>
<script>
import axios from 'axios';
// 每块大小
let chunkSize = 2 * 1024 * 1024;
// 允许上传的文件大小
let fileSizeMax = 2 * 1024 * 1024 * 1024;
// 最多并发数
let maxConcurrentNum = 3;
// 上传进度MAP
let uploadScheduleMap = new Map();
// 上传块状态MAP
let uploadChunkStatusMap = new Map();
// 上传线程号MAP
let uploadConcurrentNumMap = new Map();
let token = null;
let sid = 'te32f43bf9b558964526d16836397ed1';
let uploadFileServerUrl = '';
let mergeFileServerUrl = '';
let fileServerResultUrl = '';
let invokeServiceUrl = '';
// 上传失败最大重试次数
let retryCount = 3;
// 全局错误标识
let globalErrorFlag = false;
export default {
  data () {
    var checkappName = (rule, value, callback) => {
      if (!value) {
        return callback(new Error('应用名称不能为空'));
      } else {
        callback();
      }
    };
    var checkappType = (rule, value, callback) => {
      if (!value) {
        return callback(new Error('测试类别不能为空'));
      } else {
        callback();
      }
    };
    var checkStartPath = (rule, value, callback) => {
      if (!value) {
        return callback(new Error('测试入口地址不能为空'));
      } else {
        callback();
      }
    };
    return {
      uploadPercent: 0,
      ruleForm: {
        appName: '',
        appType: 3,
        appDesc: '',
        startPath: ''
      },
      appTypeArray: [
        {itemId: 3, itemName: 'Web UI'},
        {itemId: 4, itemName: 'Http(https)接口'}
      ],
      rules: {
        appName: [
          { validator: checkappName, trigger: 'blur' },
          { min: 1, max: 20, message: '长度在 1 到 20 个字符', trigger: 'blur' }
        ],
        appType: [
          { validator: checkappType, trigger: 'change' }
        ],
        startPath: [
          { validator: checkStartPath, trigger: 'blur' }
        ]
      },
      activeName: 'first'
    };
  },
  methods: {
    /**
     * 清理上传信息
     */
    clearUploadInfo (file, fileList) {
      uploadScheduleMap.clear();
      uploadChunkStatusMap.clear();
      uploadConcurrentNumMap.clear();
      $('#uploadProgress').hide();
      $('#uploadProgressText').hide();
      $('#uploadProgressText').html('文件上传中，请稍后！');
      globalErrorFlag = false;
      this.uploadPercent = 0;
      this.$refs.upload.clearFiles();
    },
    /**
     * 处理文件超限的警告通知
     */
    handleExceed (files, fileList) {
      this.$message.warning(`当前限制选择 1 个文件，本次选择了 ${files.length} 个文件，共选择了 ${files.length + fileList.length} 个文件`);
    },
    /**
     * 格式化文件大小显示文字
     */
    getSize (size) {
      return size > 1024
        ? size / 1024 > 1024
          ? size / (1024 * 1024) > 1024
            ? (size / (1024 * 1024 * 1024)).toFixed(2) + 'GB'
            : (size / (1024 * 1024)).toFixed(2) + 'MB'
          : (size / 1024).toFixed(2) + 'KB'
        : (size).toFixed(2) + 'B'
    },
    /**
     * 得到文件后缀
     */
    getFileExt (file) {
      if (file.name.indexOf('.') !== -1) {
        return file.name.toLowerCase().replace(/.*[.]/, '');
      } else {
        return '';
      }
    },
    /**
     * 上传文件入口函数
     */
    fileUpload (uploadParam) {
      let file = uploadParam.file;
      let appFileSize = file.size;

      if (appFileSize > fileSizeMax) {
        return this.$message({
          message: `您选择的文件大于${this.getSize(this.maxSize)}`,
          type: 'error'
        });
      }

      let fileExt = this.getFileExt(file);

      if (fileExt !== 'apk' && fileExt !== 'ipa' && fileExt !== 'keystore' && fileExt !== '') {
        return this.$message({
          message: `您选择的文件类型无效！`,
          type: 'error'
        });
      }

      $('#uploadProgress').show();
      $('#uploadProgressText').show();
      let fileChunkCount = 0;
      if (appFileSize % chunkSize === 0) {
        fileChunkCount = parseInt(appFileSize / chunkSize);
      } else {
        fileChunkCount = parseInt(appFileSize / chunkSize) + 1;
      }

      let fileKey = this.jsUuid(32, 16);

      let start = 0;
      let end = chunkSize;
      let chunkNum = 1;
      this.getUploadSchedule(appFileSize);
      this.uploadConcurrentControl(chunkNum, start, end, file, fileChunkCount, fileKey, fileExt);
    },
    /**
     * 上传线程控制函数
     */
    uploadConcurrentControl (chunkNum, start, end, file, fileChunkCount, fileKey, fileExt) {
      if ((uploadChunkStatusMap.size >= fileChunkCount) || globalErrorFlag === true) {
        $('#uploadProgressText').html('<font color="red">上传文件出错</font>');
        return;
      }
      let size = uploadConcurrentNumMap.size;
      let appFileSize = file.size;
      console.log('start < appFileSize', start, appFileSize);
      console.log('size : maxConcurrentNum', size, maxConcurrentNum);
      while (start < appFileSize && size < maxConcurrentNum) {
        let chunkFile = null;
        if ('mozSlice' in file) {
          chunkFile = file.mozSlice(start, end);
        } else {
          try {
            chunkFile = file.webkitSlice(start, end);
          } catch (e) {
            chunkFile = file.slice(start, end);
          }
        }
        // 分块上传未完成
        if (chunkNum < fileChunkCount) {
          this.axiosfileupload(chunkFile, chunkSize, chunkNum, fileChunkCount, fileKey, fileExt, 1);
        } else {
          this.axiosfileupload(chunkFile, appFileSize - start, chunkNum, fileChunkCount, fileKey, fileExt, 1);
        }

        uploadChunkStatusMap.set('chunk_' + chunkNum, 0);

        uploadConcurrentNumMap.set('concurrent_' + chunkNum, chunkNum);

        chunkNum++;
        start = end;
        end = start + chunkSize;
        size = uploadConcurrentNumMap.size;
      }
      if (uploadChunkStatusMap.size < fileChunkCount) {
        let that = this;
        setTimeout(function () {
          that.uploadConcurrentControl(chunkNum, start, end, file, fileChunkCount, fileKey, fileExt);
        }, 10000);
      }
    },
    /**
     * 上传文件数据
     */
    axiosfileupload (chunkFile, filesize, chunkNum, fileChunkCount, fileKey, fileExt, sendNum) {
      let rd = Math.random();
      let formParam = new FormData();
      console.log('token/sid', token, sid);
      if (token === null) {
        formParam.append('sid', sid);
      } else {
        formParam.append('token', token);
      }
      formParam.append('fileKey', fileKey);
      formParam.append('file', chunkFile);
      formParam.append('chunkNum', chunkNum);
      formParam.append('fileExt', fileExt);
      console.log('sendNum : retryCount', sendNum, retryCount);
      if (sendNum >= retryCount) {
        globalErrorFlag = true;
        return;
      }
      let that = this;
      axios.post(uploadFileServerUrl + '?rd=' + rd, formParam, {
        method: 'post',
        onUploadProgress: progressEvent => {
          // progressEvent.loaded:已上传文件大小
          // progressEvent.total:被上传文件的总大小
          if (progressEvent.lengthComputable) {
            if (uploadScheduleMap.has(chunkNum)) {
              let loadvalue = uploadScheduleMap.get(chunkNum);
              if (loadvalue < progressEvent.loaded) {
                uploadScheduleMap.set(chunkNum, progressEvent.loaded);
              }
            } else {
              uploadScheduleMap.set(chunkNum, progressEvent.loaded);
            }
            let complete = (progressEvent.loaded / progressEvent.total).toFixed(2) * 100;
            console.log('axiosfileupload --> chunkNum : ' + chunkNum + ' 上传进度', complete);
          }
        },
        headers: {
          'Content-Type': 'multipart/form-data'
        },
        transformRequest: [function (data) {
          return data
        }]
      }).then(function (resp) {
        let resultJson = resp;
        try {
          console.log('chunkNum : ' + chunkNum + ' response : ' + JSON.stringify(resultJson.data));
          if (resultJson.data.code === 0) {
            uploadChunkStatusMap.set('chunk_' + chunkNum, 1);
            uploadConcurrentNumMap.delete('concurrent_' + chunkNum);
            console.log('uploadConcurrentNumMap : size --> ' + uploadConcurrentNumMap.size);
          } else {
            sendNum = sendNum + 1;
            that.axiosfileupload(chunkFile, filesize, chunkNum, fileChunkCount, fileKey, fileExt, sendNum);
          }
          if (uploadChunkStatusMap.size === fileChunkCount) {
            let uploadCompleteFlag = true;
            for (let value of uploadChunkStatusMap.values()) {
              console.log('axiosfileupload---> uploadChunkStatusMap: value --> ' + value);
              if (value === 0) {
                uploadCompleteFlag = false;
                break;
              }
            }
            if (uploadCompleteFlag) {
              // 合并文件
              $('#uploadProgressText').html('合并文件中，请稍后！');
              console.log('axiosfileupload---> mergeFile: size --> ' + uploadChunkStatusMap.size);
              that.mergeFile(fileKey, fileExt);
            }
          }
        } catch (e) {
          sendNum = sendNum + 1;
          that.axiosfileupload(chunkFile, filesize, chunkNum, fileChunkCount, fileKey, fileExt, sendNum);
        }
      }).catch(function (thrown) {
        sendNum = sendNum + 1;
        that.axiosfileupload(chunkFile, filesize, chunkNum, fileChunkCount, fileKey, fileExt, sendNum);
      })
    },
    /**
     * 进度条方法
     */
    getUploadSchedule (appFileSize) {
      let completefilesize = 0;
      for (let value of uploadScheduleMap.values()) {
        completefilesize = completefilesize + value;
      }
      let completepersent = 0
      completepersent = Math.round((completefilesize / appFileSize) * 100);
      this.uploadPercent = completepersent;
      let that = this;
      setTimeout(function () {
        that.getUploadSchedule(appFileSize);
      }, 2000);
    },
    /**
     * 合并文件方法
     */
    mergeFile (fileKey, fileExt) {
      let rd = Math.random();
      let formParam = new FormData();
      console.log('token/sid', token, sid);
      if (token === null) {
        formParam.append('sid', sid);
      } else {
        formParam.append('token', token);
      }
      formParam.append('fileKey', fileKey);
      formParam.append('action', 'mergeChunks');
      formParam.append('fileExt', fileExt);
      let that = this;
      axios.post(mergeFileServerUrl + '?rd=' + rd, formParam, {
        method: 'post',
        headers: {
          'Content-Type': 'multipart/form-data'
        }
      }).then(function (resp) {
        console.log('mergeFile-->resp : ', resp);
        try {
          if (resp.status === 200) {
            let resultJson = resp.data;
            console.log('mergeFile--> resultJson : ', resultJson);
            if (resultJson.code === 0) {
              $('#uploadProgressText').html('文件合并完成，正在传送文件到文件服务器，请稍后！');
              that.fileServerResult(fileKey);
            } else {
              that.mergeFile(fileKey, fileExt);
            }
          } else {
            that.mergeFile(fileKey, fileExt);
          }
        } catch (e) {
          that.mergeFile(fileKey, fileExt);
        }
      }).catch(function (e) {
        that.mergeFile(fileKey, fileExt);
      })
    },
    /**
     * 检测文件服务器合并文件方法
     */
    fileServerResult (fileKey) {
      let rd = Math.random();
      let formParam = new FormData();
      console.log('token/sid', token, sid);
      if (token === null) {
        formParam.append('sid', sid);
      } else {
        formParam.append('token', token);
      }
      formParam.append('fileKey', fileKey);

      let that = this;
      axios.post(fileServerResultUrl + '?rd=' + rd, formParam, {
        method: 'post',
        headers: {
          'Content-Type': 'multipart/form-data'
        }
      }).then(function (resp) {
        console.log('fileServerResult-->resp : ', resp);
        try {
          let resultJson = resp.data;
          console.log('fileServerResult-->resultJson : ', resultJson);
          if (resp.status === 200) {
            if (resultJson.code === 0) {
              $('#uploadProgressText').html('文件传送成功！');
              that.goAppPerfectInfo(resultJson.data.appInfo.pkgid);
            } else if (resultJson.code === 1) {
              that.fileServerResult(fileKey);
            } else {
              $('#uploadProgressText').html('<font color="red">上传传送出错</font>');
            }
          } else {
            that.fileServerResult(fileKey);
          }
        } catch (e) {
          that.fileServerResult(fileKey);
        }
      }).catch(function (e) {
        that.fileServerResult(fileKey);
      })
    },
    /**
     * 跳转到信息完善页
     */
    goAppPerfectInfo (pkgId) {
      this.$router.push({
        path: '/pages/resource/AppPerfectInfo',
        name: 'AppPerfectInfo',
        params: {
          pkgId: pkgId
        }
      })
    },
    /**
     * 生成唯一文件key
     */
    jsUuid (len, radix) {
      let chars = '0123456789ABCDEFGHIJKLMNOPQRSTUVWXYZabcdefghijklmnopqrstuvwxyz'
        .split('');
      let uuid = [];
      let i = 0;
      radix = radix || chars.length;

      if (len) {
        for (i = 0; i < len; i++) { uuid[i] = chars[0 | Math.random() * radix]; }
      } else {
        var r;
        uuid[8] = uuid[13] = uuid[18] = uuid[23] = '-';
        uuid[14] = '4';
        for (i = 0; i < 36; i++) {
          if (!uuid[i]) {
            r = 0 | Math.random() * 16;
            uuid[i] = chars[(i === 19) ? (r & 0x3) | 0x8 : r];
          }
        }
      }
      return uuid.join('');
    },
    /**
     * 非应用类测试
     */
    submitFormData (formName) {
      let that = this;
      this.$refs[formName].validate(function (valid) {
        if (valid) {
          let rd = Math.random();
          let data = {};
          data.service = 'file.commonapp.service';
          data.operator = 'commonapp.app_not_app_test';
          console.log('token/sid', token, sid);
          if (token === null) {
            data.sid = sid;
          } else {
            data.token = token;
          }
          let params = {};
          params.appName = that.ruleForm.appName;
          params.appType = that.ruleForm.appType;
          params.appDesc = that.ruleForm.appDesc;
          params.startPath = that.ruleForm.startPath;
          data.params = params;
          console.log('submitFormData -> data', JSON.stringify(data));
          axios.post(invokeServiceUrl + '?rd=' + rd, data, {
            method: 'post',
            headers: {
              'Content-Type': 'application/json; charset=utf-8'
            }
          }).then(function (resp) {
            try {
              console.log('submitFormData -> resultJson', resp);
              if (resp.data.code === 200) {
                if (resp.data.data.code === 0) {
                  that.$router.push({
                    path: '/pages/resource/App',
                    name: 'App'
                  })
                }
              } else {
                return that.$message({
                  message: `${resp.data.data.msg}`,
                  type: 'error'
                });
              }
            } catch (e) {
              return that.$message({
                message: `异常:${e}`,
                type: 'error'
              });
            }
          })
        } else {
          console.log('error submit!!');
          return false;
        }
      })
    },
    /**
     * 重置
     */
    resetNoAppTestForm (tab, event) {
      if (tab.paneName === 'second') {
        this.$refs['ruleForm'].resetFields();
      }
    }
  },
  mounted () {
    uploadFileServerUrl = axios.defaults.baseURL + '/upload/uploadfile';
    mergeFileServerUrl = axios.defaults.baseURL + '/upload/mergefile';
    fileServerResultUrl = axios.defaults.baseURL + '/upload/fileServerResult';
    invokeServiceUrl = axios.defaults.baseURL + '/invoke_service';
  }
}
</script>
